<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
    <div class="main-content">
        {{> header}}
        <p>Hi Sir {{name}}! How is your day!</p>
        <p>He is a web developer & mainly prefer back-end developing livng in Antipolo City, Philippines. He  experienced coordinating with project manager as well as other developer and designers, learning quickly, multitasking, meeting deadlines, and communicating promptly and clearly.
        </p>
        <p>This site is created with mapbox.com api and weatherstack.com api.</p>
        <img class="portrait" src="/img/sample.png" alt="">
    </div>
    {{> footer}}
</body>
</html>