<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/img/weather.png">
    <script defer src="./js/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{> header}}
        <p>Get the weather by searching by address! </p>
        <form action="">
            <input type="text" placeholder="Address...">
            <button class="search">Search</button>
        </form>

        <p id="err"></p>
        <p id="data"></p>
        <img class="weather-icon" src="" alt="">
    </div>
    {{> footer}}
</body>
</html>